meta.json

{
    "name": "Oracle Integration",
    "objectId": "70e761db-f031-43d0-a3ab-98ab1a588292",
    "properties": {
        "activities": [
            {
                "name": "Information Schema",
                "description": "Extracts foreign key relationships and constraint metadata from Oracle  and loads it into the Fabric warehouse to support relationship mapping.",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Create Schema",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "OracleSource",
                        "oracleReaderQuery": "SELECT \n   *\nFROM all_tab_columns\nWHERE owner = 'HOSPITAL'\nORDER BY owner, table_name, column_id ",
                        "partitionOption": "None",
                        "numberPrecision": 38,
                        "numberScale": 18,
                        "queryTimeout": "02:00:00",
                        "datasetSettings": {
                            "annotations": [],
                            "type": "OracleTable",
                            "schema": [],
                            "externalReferences": {
                                "connection": "d1a3e212-a623-48c5-a169-b9247c58ddcb"
                            }
                        }
                    },
                    "sink": {
                        "type": "DataWarehouseSink",
                        "allowCopyCommand": true,
                        "writeBehavior": "Insert",
                        "tableOption": "autoCreate",
                        "datasetSettings": {
                            "annotations": [],
                            "linkedService": {
                                "name": "WH_MetaData",
                                "properties": {
                                    "annotations": [],
                                    "type": "DataWarehouse",
                                    "typeProperties": {
                                        "endpoint": "2ybikadzh7yenkzxsnkoh7ua74-kte2tzsg6lmudieg55sxuxayzu.datawarehouse.fabric.microsoft.com",
                                        "artifactId": "1644c77a-799f-4afd-9eb3-b1ea9ee11abb",
                                        "workspaceId": "e6a9c954-f246-41d9-a086-ef657a5c18cd"
                                    }
                                }
                            },
                            "type": "DataWarehouseTable",
                            "schema": [],
                            "typeProperties": {
                                "schema": {
                                    "value": "@variables('ConfigSchemaName')",
                                    "type": "Expression"
                                },
                                "table": "SourceInformationSchema"
                            }
                        }
                    },
                    "enableStaging": true,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                }
            },
            {
                "name": "Key Contraint Config",
                "description": "Extracts primary key columns for all tables from Oracle and stores them in the Fabric warehouse for metadata enrichment and join logic.",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Information Schema",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "OracleSource",
                        "oracleReaderQuery": "SELECT \n    fk.owner,\n    fk.table_name,\n    fk.column_name AS fk_column,\n    pk.owner AS referenced_owner,\n    pk.table_name AS referenced_table,\n    pk.column_name AS referenced_column\n \nFROM all_constraints c_fk\n \nJOIN all_cons_columns fk\n    ON c_fk.owner = fk.owner\n    AND c_fk.constraint_name = fk.constraint_name\n \nJOIN all_constraints c_pk\n    ON c_fk.r_owner = c_pk.owner\n    AND c_fk.r_constraint_name = c_pk.constraint_name\n \nJOIN all_cons_columns pk\n    ON c_pk.owner = pk.owner\n    AND c_pk.constraint_name = pk.constraint_name\n    AND fk.position = pk.position   \n \nWHERE c_fk.constraint_type = 'R'\nAND fk.owner = 'HOSPITAL'\n \nORDER BY \n    fk.owner,\n    fk.table_name,\n    fk.position",
                        "partitionOption": "None",
                        "numberPrecision": 38,
                        "numberScale": 18,
                        "queryTimeout": "02:00:00",
                        "datasetSettings": {
                            "annotations": [],
                            "type": "OracleTable",
                            "schema": [],
                            "externalReferences": {
                                "connection": "d1a3e212-a623-48c5-a169-b9247c58ddcb"
                            }
                        }
                    },
                    "sink": {
                        "type": "DataWarehouseSink",
                        "allowCopyCommand": true,
                        "writeBehavior": "Insert",
                        "tableOption": "autoCreate",
                        "datasetSettings": {
                            "annotations": [],
                            "linkedService": {
                                "name": "WH_MetaData",
                                "properties": {
                                    "annotations": [],
                                    "type": "DataWarehouse",
                                    "typeProperties": {
                                        "endpoint": "2ybikadzh7yenkzxsnkoh7ua74-kte2tzsg6lmudieg55sxuxayzu.datawarehouse.fabric.microsoft.com",
                                        "artifactId": "1644c77a-799f-4afd-9eb3-b1ea9ee11abb",
                                        "workspaceId": "e6a9c954-f246-41d9-a086-ef657a5c18cd"
                                    }
                                }
                            },
                            "type": "DataWarehouseTable",
                            "schema": [],
                            "typeProperties": {
                                "schema": {
                                    "value": "@variables('ConfigSchemaName')",
                                    "type": "Expression"
                                },
                                "table": "KeyConstraintConfig"
                            }
                        }
                    },
                    "enableStaging": true,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                }
            },
            {
                "name": "One Time Config ETL",
                "description": "Builds a consolidated metadata configuration by combining information schema, key constraints, and primary key data. Generates source queries and config mappings for Bronze/Silver pipeline setup and stores the final configuration in the warehouse.",
                "type": "TridentNotebook",
                "dependsOn": [
                    {
                        "activity": "Wait for process completion",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "notebookId": "9b8b9790-773a-4c13-9593-6f1ba1fa1764",
                    "workspaceId": "e6a9c954-f246-41d9-a086-ef657a5c18cd",
                    "parameters": {
                        "ConfigSchemaName": {
                            "value": {
                                "value": "@variables('ConfigSchemaName')",
                                "type": "Expression"
                            },
                            "type": "string"
                        }
                    }
                }
            },
            {
                "name": "Primary Key",
                "description": "Extracts Oracle table metadata (columns, data types, and structure) and loads it into the Fabric warehouse for downstream processing.",
                "type": "Copy",
                "dependsOn": [
                    {
                        "activity": "Key Contraint Config",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "OracleSource",
                        "oracleReaderQuery": "SELECT \n    acc.owner,\n    acc.table_name,\n    acc.column_name\nFROM all_constraints ac\nJOIN all_cons_columns acc\n    ON ac.owner = acc.owner\n    AND ac.constraint_name = acc.constraint_name\nWHERE ac.constraint_type = 'P'\nAND acc.owner = 'HOSPITAL'",
                        "partitionOption": "None",
                        "numberPrecision": 38,
                        "numberScale": 18,
                        "queryTimeout": "02:00:00",
                        "datasetSettings": {
                            "annotations": [],
                            "type": "OracleTable",
                            "schema": [],
                            "externalReferences": {
                                "connection": "d1a3e212-a623-48c5-a169-b9247c58ddcb"
                            }
                        }
                    },
                    "sink": {
                        "type": "DataWarehouseSink",
                        "allowCopyCommand": true,
                        "writeBehavior": "Insert",
                        "tableOption": "autoCreate",
                        "datasetSettings": {
                            "annotations": [],
                            "linkedService": {
                                "name": "WH_MetaData",
                                "properties": {
                                    "annotations": [],
                                    "type": "DataWarehouse",
                                    "typeProperties": {
                                        "endpoint": "2ybikadzh7yenkzxsnkoh7ua74-kte2tzsg6lmudieg55sxuxayzu.datawarehouse.fabric.microsoft.com",
                                        "artifactId": "1644c77a-799f-4afd-9eb3-b1ea9ee11abb",
                                        "workspaceId": "e6a9c954-f246-41d9-a086-ef657a5c18cd"
                                    }
                                }
                            },
                            "type": "DataWarehouseTable",
                            "schema": [],
                            "typeProperties": {
                                "schema": {
                                    "value": "@variables('ConfigSchemaName')",
                                    "type": "Expression"
                                },
                                "table": "PrimayKeyConfig "
                            }
                        }
                    },
                    "enableStaging": true,
                    "translator": {
                        "type": "TabularTranslator",
                        "typeConversion": true,
                        "typeConversionSettings": {
                            "allowDataTruncation": true,
                            "treatBooleanAsNumber": false
                        }
                    }
                }
            },
            {
                "name": "Create Schema",
                "type": "Script",
                "dependsOn": [],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "linkedService": {
                    "name": "WH_MetaData",
                    "properties": {
                        "annotations": [],
                        "type": "DataWarehouse",
                        "typeProperties": {
                            "endpoint": "2ybikadzh7yenkzxsnkoh7ua74-kte2tzsg6lmudieg55sxuxayzu.datawarehouse.fabric.microsoft.com",
                            "artifactId": "1644c77a-799f-4afd-9eb3-b1ea9ee11abb",
                            "workspaceId": "e6a9c954-f246-41d9-a086-ef657a5c18cd"
                        }
                    }
                },
                "typeProperties": {
                    "scripts": [
                        {
                            "type": "Query",
                            "text": {
                                "value": "@concat('CREATE SCHEMA ' ,variables('ConfigSchemaName'))",
                                "type": "Expression"
                            }
                        }
                    ],
                    "scriptBlockExecutionTimeout": "02:00:00"
                }
            },
            {
                "name": "Wait for process completion",
                "description": "Introduces a wait activity to allow time for prior activities to complete before proceeding with the next steps.",
                "type": "Wait",
                "dependsOn": [
                    {
                        "activity": "Primary Key",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "waitTimeInSeconds": 10
                }
            }
        ],
        "variables": {
            "ConfigSchemaName": {
                "type": "String",
                "defaultValue": "Config_Oracle"
            }
        },
        "lastModifiedByObjectId": "cbbba9aa-fb65-460c-822d-c812e779c13f",
        "lastPublishTime": "2026-04-30T06:52:20Z"
    }
}
 
