SourceToBronze.json
{
    "name": "01_PL_OTL_SourceToBronze",
    "objectId": "4c27cf22-9013-40f1-8500-93a08c87e2df",
    "properties": {
        "activities": [
            {
                "name": "Get TableList",
                "description": "Extracting the relevant tables for this data load.",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Generate Batch Id",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "1.00:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "DataWarehouseSource",
                        "sqlReaderQuery": "SELECT * FROM Config_Oracle.OneTimeConfigETL where Id = 8",
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "firstRowOnly": false,
                    "datasetSettings": {
                        "annotations": [],
                        "linkedService": {
                            "name": "WH_MetaData",
                            "properties": {
                                "annotations": [],
                                "type": "DataWarehouse",
                                "typeProperties": {
                                    "endpoint": "2ybikadzh7yenkzxsnkoh7ua74-kte2tzsg6lmudieg55sxuxayzu.datawarehouse.fabric.microsoft.com",
                                    "artifactId": "1644c77a-799f-4afd-9eb3-b1ea9ee11abb",
                                    "workspaceId": "e6a9c954-f246-41d9-a086-ef657a5c18cd"
                                }
                            }
                        },
                        "type": "DataWarehouseTable",
                        "schema": [],
                        "typeProperties": {
                            "schema": "Config_Oracle",
                            "table": "OneTimeConfigETL"
                        }
                    }
                }
            },
            {
                "name": "Looping Tables",
                "description": "Looping through all tables for optimization, configurable to run sequentially or in batch mode.\n\n",
                "type": "ForEach",
                "dependsOn": [
                    {
                        "activity": "Get TableList",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "typeProperties": {
                    "items": {
                        "value": "@activity('Get TableList').output.value",
                        "type": "Expression"
                    },
                    "isSequential": false,
                    "batchCount": 5,
                    "activities": [
                        {
                            "name": "If Condition",
                            "description": "",
                            "type": "IfCondition",
                            "dependsOn": [],
                            "typeProperties": {
                                "expression": {
                                    "value": "@equals(item().LoadType, 'Table')",
                                    "type": "Expression"
                                },
                                "ifFalseActivities": [
                                    {
                                        "name": "Files - Bronze Lakehouse",
                                        "type": "Copy",
                                        "dependsOn": [
                                            {
                                                "activity": "File Activtity Start Time",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "typeProperties": {
                                            "source": {
                                                "type": "OracleSource",
                                                "oracleReaderQuery": {
                                                    "value": "@item().SourceQuery",
                                                    "type": "Expression"
                                                },
                                                "partitionOption": "None",
                                                "numberPrecision": 38,
                                                "numberScale": 18,
                                                "queryTimeout": "02:00:00",
                                                "datasetSettings": {
                                                    "annotations": [],
                                                    "type": "OracleTable",
                                                    "schema": [],
                                                    "externalReferences": {
                                                        "connection": "d1a3e212-a623-48c5-a169-b9247c58ddcb"
                                                    }
                                                }
                                            },
                                            "sink": {
                                                "type": "ParquetSink",
                                                "storeSettings": {
                                                    "type": "LakehouseWriteSettings"
                                                },
                                                "formatSettings": {
                                                    "type": "ParquetWriteSettings",
                                                    "enableVertiParquet": true
                                                },
                                                "datasetSettings": {
                                                    "annotations": [],
                                                    "linkedService": {
                                                        "name": "LH_BRONZE",
                                                        "properties": {
                                                            "annotations": [],
                                                            "type": "Lakehouse",
                                                            "typeProperties": {
                                                                "workspaceId": "e6a9c954-f246-41d9-a086-ef657a5c18cd",
                                                                "artifactId": "284687a2-ae02-42f9-9a99-4f287fc49107",
                                                                "rootFolder": "Files"
                                                            }
                                                        }
                                                    },
                                                    "type": "Parquet",
                                                    "typeProperties": {
                                                        "location": {
                                                            "type": "LakehouseLocation",
                                                            "folderPath": {
                                                                "value": "@concat(item().BronzeSchemaName,'/',item().BronzeTableName)",
                                                                "type": "Expression"
                                                            }
                                                        },
                                                        "compressionCodec": "snappy"
                                                    },
                                                    "schema": []
                                                }
                                            },
                                            "enableStaging": false,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "name": "File Activity End Time",
                                        "description": "Setting Activity End Time",
                                        "type": "SetVariable",
                                        "dependsOn": [
                                            {
                                                "activity": "Files - Bronze Lakehouse",
                                                "dependencyConditions": [
                                                    "Completed"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "typeProperties": {
                                            "variableName": "Files_Activity_End_Time",
                                            "value": {
                                                "value": "@utcNow()",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    {
                                        "name": "File Success Log Activity",
                                        "description": "Capturing Success logs to analyze future outcomes, including success status and row counts copied.",
                                        "type": "SqlServerStoredProcedure",
                                        "dependsOn": [
                                            {
                                                "activity": "Files - Bronze Lakehouse",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "typeProperties": {
                                            "storedProcedureName": "[Log].[SP_ETLBatchBronzeDetails]",
                                            "storedProcedureParameters": {
                                                "BatchId": {
                                                    "value": {
                                                        "value": "@variables('Batch_Id')",
                                                        "type": "Expression"
                                                    },
                                                    "type": "Int32"
                                                },
                                                "EndTime": {
                                                    "value": {
                                                        "value": "@utcNow()",
                                                        "type": "Expression"
                                                    },
                                                    "type": "DateTime"
                                                },
                                                "ErrorMessage": {
                                                    "value": "No Error",
                                                    "type": "String"
                                                },
                                                "ExtractedRowCount": {
                                                    "value": {
                                                        "value": "@activity('Files - Bronze Lakehouse').output.rowsCopied",
                                                        "type": "Expression"
                                                    },
                                                    "type": "Int64"
                                                },
                                                "FilesProcessedCount": {
                                                    "value": {
                                                        "value": "@coalesce(activity('Files - Bronze Lakehouse').output.rowsCopied,0)",
                                                        "type": "Expression"
                                                    },
                                                    "type": "Int32"
                                                },
                                                "SchemaName": {
                                                    "value": {
                                                        "value": "@item().BronzeSchemaName",
                                                        "type": "Expression"
                                                    },
                                                    "type": "String"
                                                },
                                                "SourceName": {
                                                    "value": {
                                                        "value": "@pipeline().parameters.DBsource",
                                                        "type": "Expression"
                                                    },
                                                    "type": "String"
                                                },
                                                "StartTime": {
                                                    "value": {
                                                        "value": "@variables('Files_Activity_Start_Time')",
                                                        "type": "Expression"
                                                    },
                                                    "type": "DateTime"
                                                },
                                                "Status": {
                                                    "value": "Success",
                                                    "type": "String"
                                                },
                                                "TableId": {
                                                    "value": {
                                                        "value": "@item().id",
                                                        "type": "Expression"
                                                    },
                                                    "type": "Int32"
                                                },
                                                "TableName": {
                                                    "value": {
                                                        "value": "@item().BronzeTableName",
                                                        "type": "Expression"
                                                    },
                                                    "type": "String"
                                                }
                                            }
                                        },
                                        "linkedService": {
                                            "name": "WH_MetaData",
                                            "properties": {
                                                "annotations": [],
                                                "type": "DataWarehouse",
                                                "typeProperties": {
                                                    "endpoint": "2ybikadzh7yenkzxsnkoh7ua74-kte2tzsg6lmudieg55sxuxayzu.datawarehouse.fabric.microsoft.com",
                                                    "artifactId": "1644c77a-799f-4afd-9eb3-b1ea9ee11abb",
                                                    "workspaceId": "e6a9c954-f246-41d9-a086-ef657a5c18cd"
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "name": "File Failure Log Activity",
                                        "description": "Capturing Failure logs to analyze future outcomes, including success status and row counts copied.",
                                        "type": "SqlServerStoredProcedure",
                                        "dependsOn": [
                                            {
                                                "activity": "Files - Bronze Lakehouse",
                                                "dependencyConditions": [
                                                    "Failed"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "typeProperties": {
                                            "storedProcedureName": "[Log].[SP_ETLBatchBronzeDetails]",
                                            "storedProcedureParameters": {
                                                "BatchId": {
                                                    "value": {
                                                        "value": "@variables('Batch_Id')",
                                                        "type": "Expression"
                                                    },
                                                    "type": "Int32"
                                                },
                                                "EndTime": {
                                                    "value": {
                                                        "value": "@variables('Files_Activity_End_Time')",
                                                        "type": "Expression"
                                                    },
                                                    "type": "DateTime"
                                                },
                                                "ErrorMessage": {
                                                    "value": {
                                                        "value": "@if(\n    and(\n        not(empty(activity('Files - Bronze Lakehouse').output.errors)),\n        not(empty(activity('Files - Bronze Lakehouse').output.errors[0].Message))\n    ),\n    activity('Files - Bronze Lakehouse').output.errors[0].Message,\n    'NotExecuted'\n)\n\n",
                                                        "type": "Expression"
                                                    },
                                                    "type": "String"
                                                },
                                                "ExtractedRowCount": {
                                                    "value": "0",
                                                    "type": "Int64"
                                                },
                                                "FilesProcessedCount": {
                                                    "value": "0",
                                                    "type": "Int32"
                                                },
                                                "SchemaName": {
                                                    "value": {
                                                        "value": "@item().BronzeSchemaName",
                                                        "type": "Expression"
                                                    },
                                                    "type": "String"
                                                },
                                                "SourceName": {
                                                    "value": {
                                                        "value": "@pipeline().parameters.DBsource",
                                                        "type": "Expression"
                                                    },
                                                    "type": "String"
                                                },
                                                "StartTime": {
                                                    "value": {
                                                        "value": "@variables('Files_Activity_Start_Time')",
                                                        "type": "Expression"
                                                    },
                                                    "type": "DateTime"
                                                },
                                                "Status": {
                                                    "value": "Failure",
                                                    "type": "String"
                                                },
                                                "TableId": {
                                                    "value": {
                                                        "value": "@item().id",
                                                        "type": "Expression"
                                                    },
                                                    "type": "Int32"
                                                },
                                                "TableName": {
                                                    "value": {
                                                        "value": "@item().BronzeTableName",
                                                        "type": "Expression"
                                                    },
                                                    "type": "String"
                                                }
                                            }
                                        },
                                        "linkedService": {
                                            "name": "WH_MetaData",
                                            "properties": {
                                                "annotations": [],
                                                "type": "DataWarehouse",
                                                "typeProperties": {
                                                    "endpoint": "2ybikadzh7yenkzxsnkoh7ua74-kte2tzsg6lmudieg55sxuxayzu.datawarehouse.fabric.microsoft.com",
                                                    "artifactId": "1644c77a-799f-4afd-9eb3-b1ea9ee11abb",
                                                    "workspaceId": "e6a9c954-f246-41d9-a086-ef657a5c18cd"
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "name": "File Activtity Start Time",
                                        "description": "Setting Activity Start Time",
                                        "type": "SetVariable",
                                        "dependsOn": [],
                                        "policy": {
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "typeProperties": {
                                            "variableName": "Files_Activity_Start_Time",
                                            "value": {
                                                "value": "@utcNow()",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                ],
                                "ifTrueActivities": [
                                    {
                                        "name": "Tables - Bronze Lakehouse",
                                        "description": "Loading data from the source into the Bronze Lakehouse as tables.",
                                        "type": "Copy",
                                        "dependsOn": [
                                            {
                                                "activity": "Table Activtity Start Time",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "typeProperties": {
                                            "source": {
                                                "type": "OracleSource",
                                                "oracleReaderQuery": {
                                                    "value": "@item().SourceQuery",
                                                    "type": "Expression"
                                                },
                                                "partitionOption": "None",
                                                "numberPrecision": 38,
                                                "numberScale": 18,
                                                "queryTimeout": "02:00:00",
                                                "datasetSettings": {
                                                    "annotations": [],
                                                    "type": "OracleTable",
                                                    "schema": [],
                                                    "externalReferences": {
                                                        "connection": "d1a3e212-a623-48c5-a169-b9247c58ddcb"
                                                    }
                                                }
                                            },
                                            "sink": {
                                                "type": "LakehouseTableSink",
                                                "tableActionOption": "Append",
                                                "partitionOption": "None",
                                                "applyVOrder": true,
                                                "datasetSettings": {
                                                    "annotations": [],
                                                    "linkedService": {
                                                        "name": "LH_BRONZE",
                                                        "properties": {
                                                            "annotations": [],
                                                            "type": "Lakehouse",
                                                            "typeProperties": {
                                                                "workspaceId": "e6a9c954-f246-41d9-a086-ef657a5c18cd",
                                                                "artifactId": "284687a2-ae02-42f9-9a99-4f287fc49107",
                                                                "rootFolder": "Tables"
                                                            }
                                                        }
                                                    },
                                                    "type": "LakehouseTable",
                                                    "schema": [],
                                                    "typeProperties": {
                                                        "schema": {
                                                            "value": "@item().BronzeSchemaName",
                                                            "type": "Expression"
                                                        },
                                                        "table": {
                                                            "value": "@item().BronzeTableName",
                                                            "type": "Expression"
                                                        }
                                                    }
                                                }
                                            },
                                            "enableStaging": false,
                                            "translator": {
                                                "type": "TabularTranslator",
                                                "typeConversion": true,
                                                "typeConversionSettings": {
                                                    "allowDataTruncation": true,
                                                    "treatBooleanAsNumber": false
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "name": "Table Activity End Time",
                                        "description": "Setting Activity End Time",
                                        "type": "SetVariable",
                                        "dependsOn": [
                                            {
                                                "activity": "Tables - Bronze Lakehouse",
                                                "dependencyConditions": [
                                                    "Completed"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "typeProperties": {
                                            "variableName": "Tables_Activity_End_Time",
                                            "value": {
                                                "value": "@utcNow()",
                                                "type": "Expression"
                                            }
                                        }
                                    },
                                    {
                                        "name": "Table Success Log Activity",
                                        "description": "Capturing Success logs to analyze future outcomes, including success status and row counts copied.",
                                        "type": "SqlServerStoredProcedure",
                                        "dependsOn": [
                                            {
                                                "activity": "Tables - Bronze Lakehouse",
                                                "dependencyConditions": [
                                                    "Succeeded"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "typeProperties": {
                                            "storedProcedureName": "[Log].[SP_ETLBatchBronzeDetails]",
                                            "storedProcedureParameters": {
                                                "BatchId": {
                                                    "value": {
                                                        "value": "@variables('Batch_Id')",
                                                        "type": "Expression"
                                                    },
                                                    "type": "Int32"
                                                },
                                                "EndTime": {
                                                    "value": {
                                                        "value": "@variables('Tables_Activity_End_Time')",
                                                        "type": "Expression"
                                                    },
                                                    "type": "DateTime"
                                                },
                                                "ErrorMessage": {
                                                    "value": "No Error",
                                                    "type": "String"
                                                },
                                                "ExtractedRowCount": {
                                                    "value": {
                                                        "value": "@activity('Tables - Bronze Lakehouse').output.rowsCopied",
                                                        "type": "Expression"
                                                    },
                                                    "type": "Int64"
                                                },
                                                "FilesProcessedCount": {
                                                    "value": {
                                                        "value": "@coalesce(activity('Tables - Bronze Lakehouse').output.rowsCopied,0)",
                                                        "type": "Expression"
                                                    },
                                                    "type": "Int32"
                                                },
                                                "SchemaName": {
                                                    "value": {
                                                        "value": "@item().BronzeSchemaName",
                                                        "type": "Expression"
                                                    },
                                                    "type": "String"
                                                },
                                                "SourceName": {
                                                    "value": {
                                                        "value": "@pipeline().parameters.DBsource",
                                                        "type": "Expression"
                                                    },
                                                    "type": "String"
                                                },
                                                "StartTime": {
                                                    "value": {
                                                        "value": "@variables('Tables_Activity_Start_Time')",
                                                        "type": "Expression"
                                                    },
                                                    "type": "DateTime"
                                                },
                                                "Status": {
                                                    "value": "Success",
                                                    "type": "String"
                                                },
                                                "TableId": {
                                                    "value": {
                                                        "value": "@item().id",
                                                        "type": "Expression"
                                                    },
                                                    "type": "Int32"
                                                },
                                                "TableName": {
                                                    "value": {
                                                        "value": "@item().BronzeTableName",
                                                        "type": "Expression"
                                                    },
                                                    "type": "String"
                                                }
                                            }
                                        },
                                        "linkedService": {
                                            "name": "WH_MetaData",
                                            "properties": {
                                                "annotations": [],
                                                "type": "DataWarehouse",
                                                "typeProperties": {
                                                    "endpoint": "2ybikadzh7yenkzxsnkoh7ua74-kte2tzsg6lmudieg55sxuxayzu.datawarehouse.fabric.microsoft.com",
                                                    "artifactId": "1644c77a-799f-4afd-9eb3-b1ea9ee11abb",
                                                    "workspaceId": "e6a9c954-f246-41d9-a086-ef657a5c18cd"
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "name": "Table Failure Log Activity",
                                        "description": "Capturing Failure logs to analyze future outcomes, including success status and row counts copied.",
                                        "type": "SqlServerStoredProcedure",
                                        "dependsOn": [
                                            {
                                                "activity": "Tables - Bronze Lakehouse",
                                                "dependencyConditions": [
                                                    "Failed"
                                                ]
                                            }
                                        ],
                                        "policy": {
                                            "timeout": "0.12:00:00",
                                            "retry": 0,
                                            "retryIntervalInSeconds": 30,
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "typeProperties": {
                                            "storedProcedureName": "[Log].[SP_ETLBatchBronzeDetails]",
                                            "storedProcedureParameters": {
                                                "BatchId": {
                                                    "value": {
                                                        "value": "@variables('Batch_Id')",
                                                        "type": "Expression"
                                                    },
                                                    "type": "Int32"
                                                },
                                                "EndTime": {
                                                    "value": {
                                                        "value": "@variables('Tables_Activity_End_Time')",
                                                        "type": "Expression"
                                                    },
                                                    "type": "DateTime"
                                                },
                                                "ErrorMessage": {
                                                    "value": {
                                                        "value": "@if(\n    and(\n        not(empty(activity('Tables - Bronze Lakehouse').output.errors)),\n        not(empty(activity('Tables - Bronze Lakehouse').output.errors[0].Message))\n    ),\n    activity('Tables - Bronze Lakehouse').output.errors[0].Message,\n    'NotExecuted'\n)\n\n",
                                                        "type": "Expression"
                                                    },
                                                    "type": "String"
                                                },
                                                "ExtractedRowCount": {
                                                    "value": "0",
                                                    "type": "Int64"
                                                },
                                                "FilesProcessedCount": {
                                                    "value": "0",
                                                    "type": "Int32"
                                                },
                                                "SchemaName": {
                                                    "value": {
                                                        "value": "@item().BronzeSchemaName",
                                                        "type": "Expression"
                                                    },
                                                    "type": "String"
                                                },
                                                "SourceName": {
                                                    "value": {
                                                        "value": "@pipeline().parameters.DBsource",
                                                        "type": "Expression"
                                                    },
                                                    "type": "String"
                                                },
                                                "StartTime": {
                                                    "value": {
                                                        "value": "@variables('Tables_Activity_Start_Time')",
                                                        "type": "Expression"
                                                    },
                                                    "type": "DateTime"
                                                },
                                                "Status": {
                                                    "value": "Failure",
                                                    "type": "String"
                                                },
                                                "TableId": {
                                                    "value": {
                                                        "value": "@item().id",
                                                        "type": "Expression"
                                                    },
                                                    "type": "Int32"
                                                },
                                                "TableName": {
                                                    "value": {
                                                        "value": "@item().BronzeTableName",
                                                        "type": "Expression"
                                                    },
                                                    "type": "String"
                                                }
                                            }
                                        },
                                        "linkedService": {
                                            "name": "WH_MetaData",
                                            "properties": {
                                                "annotations": [],
                                                "type": "DataWarehouse",
                                                "typeProperties": {
                                                    "endpoint": "2ybikadzh7yenkzxsnkoh7ua74-kte2tzsg6lmudieg55sxuxayzu.datawarehouse.fabric.microsoft.com",
                                                    "artifactId": "1644c77a-799f-4afd-9eb3-b1ea9ee11abb",
                                                    "workspaceId": "e6a9c954-f246-41d9-a086-ef657a5c18cd"
                                                }
                                            }
                                        }
                                    },
                                    {
                                        "name": "Table Activtity Start Time",
                                        "description": "Setting Activity Start Time",
                                        "type": "SetVariable",
                                        "dependsOn": [],
                                        "policy": {
                                            "secureOutput": false,
                                            "secureInput": false
                                        },
                                        "typeProperties": {
                                            "variableName": "Tables_Activity_Start_Time",
                                            "value": {
                                                "value": "@utcNow()",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            },
            {
                "name": "Pipeline Start Time",
                "description": "Defining pipeline start time for logging purposes.\n\n",
                "type": "SetVariable",
                "dependsOn": [],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "variableName": "Pipeline_Start_Time",
                    "value": {
                        "value": "@utcNow()",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Pipeline Log Success",
                "description": "Capturing success logs at the pipeline level\n\n",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Looping Tables",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "storedProcedureName": "[Log].[SP_ETLBatchHeader]",
                    "storedProcedureParameters": {
                        "BatchId": {
                            "value": {
                                "value": "@variables('Batch_Id')",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "EndTime": {
                            "value": {
                                "value": "@utcNow()",
                                "type": "Expression"
                            },
                            "type": "DateTime"
                        },
                        "ErrorMessage": {
                            "value": null,
                            "type": "String"
                        },
                        "PipelineName": {
                            "value": {
                                "value": "@pipeline().PipelineName",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "PipelineRunId": {
                            "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "StartTime": {
                            "value": {
                                "value": "@variables('Pipeline_Start_Time')",
                                "type": "Expression"
                            },
                            "type": "DateTime"
                        },
                        "Status": {
                            "value": "Success",
                            "type": "String"
                        }
                    }
                },
                "linkedService": {
                    "name": "WH_MetaData",
                    "properties": {
                        "annotations": [],
                        "type": "DataWarehouse",
                        "typeProperties": {
                            "endpoint": "2ybikadzh7yenkzxsnkoh7ua74-kte2tzsg6lmudieg55sxuxayzu.datawarehouse.fabric.microsoft.com",
                            "artifactId": "1644c77a-799f-4afd-9eb3-b1ea9ee11abb",
                            "workspaceId": "e6a9c954-f246-41d9-a086-ef657a5c18cd"
                        }
                    }
                }
            },
            {
                "name": "Pipeline End Time",
                "description": "Defining pipeline end time for logging purposes.\n\n",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Looping Tables",
                        "dependencyConditions": [
                            "Completed"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "variableName": "Pipeline_End_Time",
                    "value": {
                        "value": "@utcNow()",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "Pipeline Log Failure",
                "description": "Capturing failure logs at the pipeline level\n\n",
                "type": "SqlServerStoredProcedure",
                "dependsOn": [
                    {
                        "activity": "Looping Tables",
                        "dependencyConditions": [
                            "Failed"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "storedProcedureName": "[Log].[SP_ETLBatchHeader]",
                    "storedProcedureParameters": {
                        "BatchId": {
                            "value": {
                                "value": "@variables('Batch_Id')",
                                "type": "Expression"
                            },
                            "type": "Int32"
                        },
                        "EndTime": {
                            "value": {
                                "value": "@variables('Pipeline_End_Time')",
                                "type": "Expression"
                            },
                            "type": "DateTime"
                        },
                        "ErrorMessage": {
                            "value": "Inner Activity Failed",
                            "type": "String"
                        },
                        "PipelineName": {
                            "value": {
                                "value": "@pipeline().PipelineName",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "PipelineRunId": {
                            "value": {
                                "value": "@pipeline().RunId",
                                "type": "Expression"
                            },
                            "type": "String"
                        },
                        "StartTime": {
                            "value": {
                                "value": "@variables('Pipeline_Start_Time')",
                                "type": "Expression"
                            },
                            "type": "DateTime"
                        },
                        "Status": {
                            "value": "Failure",
                            "type": "String"
                        }
                    }
                },
                "linkedService": {
                    "name": "WH_MetaData",
                    "properties": {
                        "annotations": [],
                        "type": "DataWarehouse",
                        "typeProperties": {
                            "endpoint": "2ybikadzh7yenkzxsnkoh7ua74-kte2tzsg6lmudieg55sxuxayzu.datawarehouse.fabric.microsoft.com",
                            "artifactId": "1644c77a-799f-4afd-9eb3-b1ea9ee11abb",
                            "workspaceId": "e6a9c954-f246-41d9-a086-ef657a5c18cd"
                        }
                    }
                }
            },
            {
                "name": "Insert Log Header",
                "description": "Insertion of pipeline‑level log header for audit purposes without BatchId",
                "type": "Lookup",
                "dependsOn": [
                    {
                        "activity": "Pipeline Start Time",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "timeout": "0.12:00:00",
                    "retry": 0,
                    "retryIntervalInSeconds": 30,
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "source": {
                        "type": "DataWarehouseSource",
                        "sqlReaderStoredProcedureName": "[Log].[SP_ETLBatchHeader]",
                        "storedProcedureParameters": {
                            "BatchId": {
                                "type": "Int32",
                                "value": null
                            },
                            "EndTime": {
                                "type": "DateTime",
                                "value": null
                            },
                            "ErrorMessage": {
                                "type": "String",
                                "value": null
                            },
                            "PipelineName": {
                                "type": "String",
                                "value": {
                                    "value": "@pipeline().PipelineName",
                                    "type": "Expression"
                                }
                            },
                            "PipelineRunId": {
                                "type": "String",
                                "value": {
                                    "value": "@pipeline().RunId",
                                    "type": "Expression"
                                }
                            },
                            "StartTime": {
                                "type": "DateTime",
                                "value": {
                                    "value": "@variables('Pipeline_Start_Time')",
                                    "type": "Expression"
                                }
                            },
                            "Status": {
                                "type": "String",
                                "value": {
                                    "value": "@concat(pipeline().PipelineName,' - Process has been Started')",
                                    "type": "Expression"
                                }
                            }
                        },
                        "queryTimeout": "02:00:00",
                        "partitionOption": "None"
                    },
                    "firstRowOnly": false,
                    "datasetSettings": {
                        "annotations": [],
                        "linkedService": {
                            "name": "WH_MetaData",
                            "properties": {
                                "annotations": [],
                                "type": "DataWarehouse",
                                "typeProperties": {
                                    "endpoint": "2ybikadzh7yenkzxsnkoh7ua74-kte2tzsg6lmudieg55sxuxayzu.datawarehouse.fabric.microsoft.com",
                                    "artifactId": "1644c77a-799f-4afd-9eb3-b1ea9ee11abb",
                                    "workspaceId": "e6a9c954-f246-41d9-a086-ef657a5c18cd"
                                }
                            }
                        },
                        "type": "DataWarehouseTable",
                        "schema": []
                    }
                }
            },
            {
                "name": "Generate Batch Id",
                "description": "Creating a BatchId as a unique reference across header and detail logs.\n\n",
                "type": "SetVariable",
                "dependsOn": [
                    {
                        "activity": "Insert Log Header",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "policy": {
                    "secureOutput": false,
                    "secureInput": false
                },
                "typeProperties": {
                    "variableName": "Batch_Id",
                    "value": {
                        "value": "@int(activity('Insert Log Header').output.value[0].BatchId)",
                        "type": "Expression"
                    }
                }
            }
        ],
        "concurrency": 4,
        "parameters": {
            "DBsource": {
                "type": "string",
                "defaultValue": "Replace_Source_Name"
            },
            "Batch_Id": {
                "type": "int"
            },
            "SchemaName": {
                "type": "string",
                "defaultValue": "Config_<connection_name>"
            }
        },
        "variables": {
            "Tables_Activity_Start_Time": {
                "type": "String"
            },
            "Tables_Activity_End_Time": {
                "type": "String"
            },
            "Pipeline_Start_Time": {
                "type": "String"
            },
            "Pipeline_End_Time": {
                "type": "String"
            },
            "Files_Activity_Start_Time": {
                "type": "String"
            },
            "Files_Activity_End_Time": {
                "type": "String"
            },
            "Batch_Id": {
                "type": "Integer"
            }
        },
        "lastModifiedByObjectId": "95266517-fb17-4f9a-ae83-1a99f476ee3c",
        "lastPublishTime": "2026-01-27T09:04:30Z"
    }
}